[mysqld]
bind_address = 0.0.0.0
port = 3306
user = mysql
datadir = /var/lib/mysql
socket = /var/lib/mysql/mysql.sock
symbolic-links = 0
sql_mode = NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

max_connections = 500
open_files_limit = 128
table_open_cache = 128
table_definition_cache = 400

# Inno DB changes
innodb_file_per_table = 1
innodb_buffer_pool_size = 32M
innodb_log_file_size = 16M

[mysqld_safe]
log-error = /var/log/mysqld.log
pid-file = /var/run/mysqld/mysqld.pid
